.project-details{

max-width:1200px;

margin:auto;

padding:120px 8%;

color:white;

}

.project-details h1{

font-size:50px;

color:#38bdf8;

margin-bottom:10px;

}

.tech{

font-size:20px;

color:#94a3b8;

margin-bottom:50px;

}

.dashboard-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

margin-bottom:60px;

}

.dashboard-grid img{

width:100%;

border-radius:15px;

border:2px solid #38bdf8;

transition:.3s;

}

.dashboard-grid img:hover{

transform:scale(1.03);

}

.section{

margin-top:40px;

}

.section h2{

color:#38bdf8;

margin-bottom:20px;

}

.section ul{

padding-left:25px;

}

.section li{

font-size:19px;

line-height:2;

}

.result-box{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

margin-top:25px;

}

.result-box div{

background:#111827;

padding:20px;

border-radius:12px;

border:1px solid rgba(255,255,255,.1);

font-size:18px;

font-weight:600;

}

.github-btn{

display:inline-block;

margin-top:50px;

padding:15px 30px;

background:#38bdf8;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:bold;

transition:.3s;

}

.github-btn:hover{

background:#0ea5e9;

}

@media(max-width:900px){

.dashboard-grid{

grid-template-columns:1fr;

}

}