.contact-page{

padding:120px 8%;

text-align:center;

}

.contact-page h1{

font-size:55px;

color:#38bdf8;

margin-bottom:20px;

}

.subtitle{

font-size:20px;

color:#94a3b8;

margin-bottom:60px;

}

.contact-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}

.contact-card{

background:#111827;

padding:30px;

border-radius:15px;

transition:.3s;

border:1px solid rgba(255,255,255,.08);

}

.contact-card:hover{

transform:translateY(-8px);

box-shadow:0 0 20px rgba(56,189,248,.4);

}

.contact-card h2{

margin-bottom:20px;

color:#38bdf8;

}

.contact-card p,
.contact-card a{

color:white;

text-decoration:none;

}

.resume-section{

margin-top:60px;

}

.resume-btn{

display:inline-block;

padding:18px 35px;

background:#38bdf8;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:bold;

transition:.3s;

}

.resume-btn:hover{

background:#0ea5e9;

}